# Default ignored files
/shelf/
/workspace.xml
copilot.data.migration.agent.xml
copilot.data.migration.xml
copilot.data.migration.ask.xml
copilot.data.migration.ask2agent.xml
copilot.data.migration.edit.xml
gradle.xml
deploymentTargetSelector.xml
misc.xml
compiler.xml
vcs.xml
